<div class="full-height" style=" background: -webkit-linear-gradient(left, #9030ad, #f1ecf0, #f1b7a8); ">
    <div class="container register">
        <div class="row">

            <div class="col-12 col-md-12">
                <!--login-->
                <div id="login-box" style="background: transparent; margin-top: 10%;">
                    <div class="left">
                        <form action="/login" onsubmit="return ValidatePassword();">
                            <h1>Signup</h1>
                            <br>
                            <input type="text" name="username" placeholder="Username" />
                            <input id="email" type="text" name="email" placeholder="Email/PhoneNo" />
                            <div id="msg" style="font-size: 15px;  margin-top: -10px; margin-bottom: 10px;"> </div>
                            <input id="pass" type="password" name="password" placeholder="Password" />
                            <div id="msg1" style="font-size: 15px;  margin-top: -10px; margin-bottom: 10px;"> </div>
                            <input type="password" name="password2" placeholder="Retype password" />
                             <div id="msg1" style="font-size: 15px;  margin-top: -10px; margin-bottom: 10px;"> </div>
                            <input id="submit" type="submit" name="signup_submit" value="login"
                                onclick="return ValidateEmailPhone(); " />
                    </div>

              
                    </form>
                   
                </div>

                <!--/login-->
            </div>


        </div>
    </div>
</div>